
@model D12.ChatGPT.WebAdmin.ViewModels.LanguageViewModel

<div id="ModalLanguage" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-loading" style="display:none;">
                <span class="modal-spinner" style="display: block;"><i class='fa fa-spinner fa-spin fa-5x fa-fw'></i></span>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="height:130px;">
                <form id="FormLanguage">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Code)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Label, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Label, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Label)
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="form-group" style="padding-top:30px;">
                                    <span style="display:inline-block">@Html.CheckBoxFor(m => m.Active, true)</span>
                                    @Html.LabelFor(m => m.Active, new { @class = "control-label" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="summaryValidation"></div>
                </form>
            </div>
            <div class="modalStatusbar"></div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default btn-danger pull-left" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <button type="button" class="btn btn-success btnNew">New</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btnSave">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>